@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);



  @media only screen and (max-width: 600px) {
    .col-sm-6 {
        display: none;
    }
    #resume_btn{
      float: left;
    }


  }

  @media screen and (max-width: 600px) {
    div.title p{
      font-size: 15px;
    }
    div.title h1{
        font-size: 45px;
      }
  }

.cards-container{
    margin: 10px;
    height: 400px;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
      
    width: 100%;
    height: auto;
      
    position: fixed;
    top: 0;
    left: 0;
  }
  
.title {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
text-align: center;
}

.title h1{
    font-size: 80px;
}


.title p{
font-size: 25px;

}

.image-container{
    margin-top: 850px;
    margin-bottom: 50px;
}

.navbar a{
font-size: 25px;
padding-left: 0%;
}
